*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
#root{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .5s;
    @media (max-width: 779px) {
        background: #3A9
    }
}

.counters{
    display: flex
}
.count-slider{
    width: 500px;
    margin-top: 50px;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;

  > div.counterValue {
    font-size: 100px;
  }

  a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }

  .controls {
    display: flex;
    flex-direction: row-reverse;

    > div {
      min-width: 40px;
      height: 40px;
      text-align: center;
      background: #fff;
      color: #3f51b5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 5px;
      cursor: pointer;
      transition: all .2s;
      padding: 5px;

      @media (max-width: 779px) {
          display: none;
      }

      &.control{
        border: 1px solid greenyellow;
        border-radius: 5px;
        user-select: none;
      }
      &.disabled-button{
          background: #AAA;
          cursor: not-allowed;
      }

      &.control:not(.disabled-button):hover {
          background: greenyellow;
          color: #FFF;
      }
    }
  }
}
